/*CSS for my demonstration project*/
body{
   font-family: Georgia, 'Times New Roman', Times, serif;
   width: 1000px;
   margin: auto;
   background-color: #9fae6c;
}
h1 {
   color: #271a61 ;
   margin-left: 80px;
   text-align: center;
}
nav{
   background-color: #dd1f0e ;
   height: 40px;
   padding-bottom: 20px;
}
nav ul {
   list-style: none; 
   padding-top: 8px; 
}
nav li {
   display: inline;
}
nav a {
   text-decoration: none;
   color: white;
   font-size: 1.2em;
   font-weight: bold;
   margin-right: 20px;
}
nav a:hover{
   color: rgb(96, 86, 86);
}
section {
   float: left;
   width: 100%;
   margin-right: 5%;
   margin-bottom: 20px;
}

footer {
   clear: both;
   background-color: #d31818;
   color: white;
   height: 30px;
   text-align: center;
}
footer a {
   text-decoration: none;
   color: white;
   margin-left: 20px;
}

table {
  width: 100%;
}
.image_right{
   float:right;
   margin-left: 10px;
   margin-bottom: 10px;
}
.image_left{
   float:left;
   margin-right: 10px;
   margin-bottom: 10px;
}

th {
   border-style: solid;
   border-width: 2px;
   border-color: rgb(17, 23, 194);
   border-radius: 10px;
}

input {
   width: 40%;
}
textarea {
   width: 100%
   
}

td {
   border-style: groove;

}
img:hover.item {
   transform: scale(3)
}
